* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(album/pexels-alteredsnaps-14536809.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.menu ul {
    display: flex;
    justify-content: center;
    padding: 0 15px;
}
.menu li {
    list-style-type: none;
    justify-content: center;
    margin: 0 30px;
}
.menu li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    transition: 0.5s
} 
.menu li a:hover{
    transform: rotate(-2deg);
    letter-spacing: 2px;
}

/* Formulaire*/
h2{
    color: white;
}

.contenaire {
    position: relative;
    justify-content: center;
    align-items: center;
    background: transparent;
    width: 740px;
    height: 420px; 
    border: 2px solid #580404;
    margin-left: 15rem;
    margin-top: 15vh;
    overflow: hidden;
    border-radius: 50px;
    box-shadow: 0 0 10px rgb(235, 65, 65);
}
.content {
    display: flex;
    position: absolute;
    justify-content: center;
    width: 50%;
    height: 420px; 
    flex-direction: column;
}
.content h2 {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.content hr {
    width: 80px;
    background-color: rgb(11, 255, 23);
    border-radius: 6px;
    height: 4px;
    margin-left: 39%;
    margin-top: 3px;
    border-radius: 25px;
    border: 0;
}

.box {
    width: 100%;
    height: 60px;
    margin: 9px;
}

.box input {
    width: 100%;
    height: 100%;
    border: 0;
    background-color: transparent;
    outline: none;
    border-bottom: 1px solid #06b414;
    color: white;
    font-size: 15px;
    font-family: cursive;
}

.btn {
    margin-top: 50px;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: #06b41481;
    color: aliceblue;
    font-size: 15px;
    border-radius: 50px;
    transition: 0.5s;
    cursor: pointer;
    letter-spacing: 3px;
    border: 0;
}
.btn:hover {
    letter-spacing: 2px;
    background-color: #0edb1f;
}
/* pou div txt  */

.txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width:50%;
    height: 420px;
    top: 0;
    right: 0;
    padding: 0 90px;
}
.txt h2 {
    font-family: cursive;
    font-size: 40px;
    color: aliceblue;
    text-align: center;
    text-transform: uppercase;
}
.txt hr {
    width: 90px;
    background-color: rgba(65, 255, 28, 0.233);
    border-radius: 6px;
    height: 5px;
    margin-left: 39%;
    margin-top: 3px;
    border-radius: 25px;
    border: 0;
}
.txt p { 
    font-family: cursive;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    margin-top: 10px;
    color: ivory;
}

/* Pour le div drop*/

.drop {
    position: absolute;
    width: 700px;
    height: 650px;
    background-color: #06b4149c;
    top: 0;
    right: 0;
    transform: rotate(12deg) skewY(40deg);
    transform-origin: bottom right;
}















