* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body {
    background-image: url(img3/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

 }
 .description {
    justify-content: center;
    align-items: center;
    margin-left: 4rem;
    padding-top: 5rem;

 }
 .description h1 {
    color: rgba(12, 10, 10, 0.719);
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    list-style-type: none;
 }
 .description p {
    color: rgba(8, 8, 8, 0.678);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 30px;
    margin-left: 30px;
 }
 
 .bothe {
    display: flex;
    margin-right: 3rem;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
    height: 500px;
 }
 .bothe .left {
    justify-content: center;
    align-items: center;
    background-color: rgba(150, 9, 9, 0.548);
    width: 25%;
    height: 67%;
    margin-top: 50px;
    margin-left: 4rem;
    border: 6px solid #0000007e;
    border-radius: 50px;
    overflow: hidden;
 }
 .bothe .left h2 {
    
    font-size: 2em;
    color: rgba(245, 245, 245, 0.651);
    font-family: Arial, Helvetica, sans-serif;
    box-shadow:  0 0 10px rgba(3, 3, 3, 0.322);
    text-align: center;
 }

 .bothe .right {
    justify-content: center;
    align-items: center;
    background-color: rgba(150, 9, 9, 0.548);
    width: 25%;
    height: 67%;
    margin-top: 50px;
    margin-left: 4rem;
    border: 6px solid #0000007e;
    border-radius: 50px;
    overflow: hidden;
 }
 .bothe .right h2 {
    font-size: 2em;
    color: rgba(245, 245, 245, 0.651);
    font-family: Arial, Helvetica, sans-serif;
    box-shadow:  0 0 10px rgba(3, 3, 3, 0.322);
    text-align: center;
 }

 .pht img {
    width: 80px;
    justify-content: center;
    margin-left: 7.4rem;
    border-radius: 50%;
 }
 .pht1 img {
    width: 80px;
    justify-content: center;
    margin-left: 7.4rem;
    border-radius: 50%;
 }
 .cert img {
    width: 100%;
    height: 190px;
 }
 .cert2 img {
    width: 100%;
    height: 190px;
 }

 .description span {
   color: rgba(129, 12, 12, 0.87);
 }

